# Configurações da VPC
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.3.0/24", "10.0.4.0/24"]
availability_zones   = ["us-east-1a", "us-east-1b"]

# Configurações do ECS
ecs_cluster_name    = "x-console-cluster"
ecs_instance_type   = "t4g.nano"
min_capacity        = 1
max_capacity        = 3
desired_capacity    = 2
ecs_service_name    = "x-console-service"
ecs_task_family     = "x-console-task"
container_port      = 3000
host_port           = 3000
container_name      = "x-console"
container_image     = "x-console:latest"

# Configurações de Monitoramento
budget_amount   = 10
email_addresses = ["your.email@example.com"]

# Configurações do CICD
artifact_bucket           = "x-console-artifacts"
repository_name           = "x-console"
build_project_name        = "prod-build"
deploy_project_name       = "prod-deploy"
approval_notification_arn = "arn:aws:sns:us-east-1:123456789012:approval-notifications"

# IAM
github_owner    = "your-github-username"
github_token    = "your-github-token" # Substitua pelo seu token real 