notification_email = "dev-team@company.com"
ecs_cluster_name   = "dev-fargate-cluster"
ecs_instance_type  = "t4g.nano"
budget_limit       = "100"
asg_min_size       = "1"
asg_max_size       = "3"
asg_desired_capacity = "1"
asg_health_check_grace_period = "300" 